.content{
   
    height: 400px;
    margin-top: 20px;
   padding: 6px;
   
   position: relative;
   z-index: -1;
}
.content::after{
    content: "";
    background-image: url('../img/ren.jpg');
    position: absolute;
  
    height: inherit;
    
    z-index: -1;
    list-style: none;
}
.btn:hover{
    color: rgb(227, 235, 219);
    background-color: rgb(140, 61, 9);
    transition: all 0.3s ease-in-out;
    }
    .nav-left ul li a:hover{
        color: rgb(227, 235, 219);
    background-color: rgb(140, 61, 9);
    transition: all 0.3s ease-in-out;
       
    }